* {
  padding: 0;
  margin: 0;
  text-align: center;
}
html {
  font-size: 100%;
}
.container {
  padding: 2rem;
  position: absolute;
  max-width: 40rem;
  width: 100%;
  height: 40rem;
  background-color: aqua;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.step {
  background-color: #ccc;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  position: relative;
}
.circle {
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indicator {
  position: absolute;
  height: 4px;
  background-color: green;
  left: 0;
  width: 50%;
}
.steptext {
  background-color: blueviolet;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  font-size: 1.2rem;
}
.progress-bar{
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;

}
.formsContainer {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-rows: 10% 75% 15%;
}
.formslist {
  background-color: yellow;
}
.btnContainer {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
